@import "o-colors/main";
@import "src/scss/variables";

@if ($o-in-page-nav-is-silent == false) {
	.o-in-page-nav--affix {
		position: fixed;
		top: 0;
	}

	// Set to silent again to avoid being output twice
	$o-in-page-nav-is-silent: true !global;

}
