$o-in-page-nav-is-silent: false;
@import '../../main';


body {
	padding: 20px;
}
.demo-section {
	height: 300px;
	border-bottom: 5px solid #cccccc;
	margin: 20px 0;
}

nav a {
	display: block;
}

.o-in-page-nav-item--active {
	font-weight: bold;
}

.demo-notice {
	background-color: #cccccc;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;
}
