<div class='demo-notice'>
	Open this demo in a new tab to see scrolling behaviour
</div>

<div class="section o-grid-row">
	<div data-o-grid-colspan="hide M3">
		<nav data-o-component='o-in-page-nav'>
			<a class='o-in-page-nav__item--section-1' href="#section-1">Section 1</a>
			<a class='o-in-page-nav__item--section-2' href="#section-2">Section 2</a>
			<a class='o-in-page-nav__item--section-3' href="#section-3">section 3</a>
			<a class='o-in-page-nav__item--section-4' href="#section-4">section 4</a>
		</nav>
	</div>
	<div data-o-grid-colspan="12 M9" >
		<div class='demo-section'>
			<h2 id="section-1" >SECTION 1</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div class='demo-section'>
			<h2  id="section-2" >SECTION 2</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div class='demo-section'>
			<h2  id="section-3" >SECTION 3</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div class='demo-section'>
			<h2 id="section-4">SECTION 4</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	<div>
</div>
